* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: roboto;
  font-size: 16px;
  color: black;
}

body { 
  min-height: 100%;
  margin: 0;
}

a {
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  color: #157a4a;
  display: block;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem;
}

a:hover {
  color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.5rem 2rem 0.5rem 0rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.75rem 0rem 0.75rem 0rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.75rem 0rem 0.75rem 0rem;
}

b {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.25rem 0rem 0.25rem 0rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

button {
  font-weight: 600;
  border: solid #12402A 10px;
  background: #157a4a;
  color: white;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

button:hover {
  background: #12402A;
  cursor: pointer;
}

.navbar {
  background-color: #d7cec3;
  color: #157a4a;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 12.5rem 5rem 12.5rem;
}

.header {
  font-family: helvetica;
  text-align: left;
  background: #d7cec3;
  color: #157a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 12.5rem 5rem 12.5rem;
}

.section1 {
  text-align: center;
  background: #157a4a;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 200px 40px 200px;
}

.section2 {
  text-align: center;
  background: #d7cec3;
  color: #157a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 12.5rem 5rem 12.5rem;
}

.footer {
  text-align: left;
  background: #157a4a;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 2rem 12.5rem 2rem 12.5rem;
}

.navbarGroup {
  display: flex;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
}

.roundImage {
  max-width: 200px;
  max-height: 200px;
  border: solid 5px #157a4a;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  margin: 3rem;
}

.roundImage img {
  width: 200px;
  object-fit: cover;
}

.experience {
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 0px;
}

.timelineHorizontal {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.timelineVertical {
  display: flex;
  flex-direction: column;
}

.line {
  min-width: 5px;
  max-width: 5px;
  background: white;
  flex: 1;
  margin: 0rem 1rem 0rem 1rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  color: #157a4a;
}

.image {
  width: 100%;
  border-radius: 20px;
  background: white;
  color: #157a4a;
  padding: 20px;
  margin: 40px;
}

